body {
    font-family: 'Lora', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #6f4e37;
    color: white;
}

.cafe{
    font-size: 26px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.welcome {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('./imageforHeading.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.welcome::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.welcome h1,
.welcome p,
.welcome .btn {
    position: relative;
    z-index: 2;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #d4a373;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.coffeeMenu {
    padding: 40px;
    text-align: center;
}

.coffeeMenu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.item {
    background: #f3e5ab;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

#breakfastMenu {
    padding: 40px;
    text-align: center;
}

.breakfastItem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.items {
    background: #f3e5ab;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.items img {
    width: 100%;
    border-radius: 10px;
}

.description {
    background-color: #f4f1ea;
    color: rgb(133, 132, 132);
}

.about,
.contactInfo {
    padding: 40px;
    text-align: center;
    background: #f4f1ea;
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
}